[Unit]
Description=Steam Inventory Checker
After=network.target

[Service]
ExecStart=/home/kevin/Scripts/steamdeckbot/venv/bin/python3 /home/kevin/Scripts/steamdeckbot/steam-check.py
WorkingDirectory=/home/kevin/Scripts/steamdeckbot
StandardOutput=append:/home/kevin/Scripts/steamdeckbot/steam-check-log.txt
StandardError=append:/home/kevin/Scripts/steamdeckbot/steam-check-log.txt
Restart=always
RestartSec=60
User=kevin

[Install]
WantedBy=multi-user.target
