[Unit]
Description=Steam Inventory Checker
After=network.target

[Service]
ExecStart=~/Scripts/steamdeckbot/python3/venv/bin/activate ~/Scripts/steamdeckbot/steam-check.py
WorkingDirectory=~/Scripts
StandardOutput=append:~/Scripts/steam-check-log.txt
StandardError=append:~/Scripts/steam-check-log.txt
Restart=always
RestartSec=60
User=kevin

[Install]
WantedBy=multi-user.target
